.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.docs-main {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.add-docs {
    height: 40px;
    width: 200px;
    background-color: #ffc107;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.invite {
  height: 40px;
  width: 200px;
  background-color: plum;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.add-input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #676767;
    border-radius: 0px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

.header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.grid-main {
    display: grid;
    color: whitesmoke;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.grid-child {
    padding: 20px;
    background-color: 'white';
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
   text-align:start;
}


.editDocs-main {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editDocs-inner {
    box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    -webkit-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    -moz-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    padding: 20px;
    height: 550px;
    margin-bottom: 50px;
}

.createSlide-inner {
    box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    -webkit-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    -moz-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    padding: 20px;
}

.presentation-inner {
    box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    -webkit-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    -moz-box-shadow: 0px -2px 5px 2px rgba(181, 181, 181, 0.75);
    padding: 20px;
    min-height: 250px;
}

.ql-container.ql-snow {
    border: none !important;
}